 button.p-element.p-button.p-component {
     background: none !important;
     border: 0 !important;
 }

 .text-blue {
     color: #2188d9;
 }

 .card {
     width: 459px;
     height: 135px;
     border: 1px solid #B8B9BC;
 }

 #map {
     width: 838px;
     height: 97%;
     overflow-y: none;
 }

 .search-text {

     width: 334px;
 }

 .text-bold {
     font-weight: 700;
     font-size: 18px;
     color: #060C1B;
 }

 // span.p-dropdown-label.p-inputtext.p-placeholder.ng-star-inserted {
 //     height: 44px !important;
 // }



 .text-bold {
     font-weight: bold;
 }

 .p-card.p-component {
     width: 27rem;
     border: 1px solid;
     margin-bottom: 9px;
 }