<div class="container-fluid">
    <h2 class="text-black mt-4" style="font-size: 32px;">Submissions</h2>
    <div class="row mt-4 filter_button">
        <div class="col-lg-9 col-xl-9 col-md-12 d-flex block filter_input justify-content-between ">
            <div class="search-bar">
                <span class="p-input-icon-left  ">
                    <i class="pi pi-search"></i>
                    <input type="text" class="search-text" pInputText placeholder="Search" />
                </span>
            </div>
            <div class="select-form-input">
                <p-dropdown placeholder="Select Form" class="form-drop   " optionLabel="name"
                    [showClear]="true"></p-dropdown>
            </div>
            <div class="select-status-bar">
                <p-dropdown placeholder="Select Status" class="" optionLabel="name" [showClear]="true">

                </p-dropdown>
            </div>
            <div class="d-flex">
                <!-- <span class="p-input-icon-left  "> -->
                <label for="datepicker" class="bg-primary text-center calenderlabel"><i
                        class="pi pi-calendar mt-3"></i></label>
                <!-- <input type="text" pInputText placeholder="22/10/2022" /> -->
                <p-calendar inputId="datepicker" class="calenderBox">
                </p-calendar>
                <!-- <p-calendar [showIcon]="true" inputId="icon" placeholder="24/20/2002"></p-calendar> -->
                <!-- </span> -->
            </div>

        </div>
        <div class="col-lg-3 col-xl-3 col-sm-12 filter_button d-flex justify-content-center start">
            <div class="list">
                <p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label"
                    optionValue="value"></p-selectButton>
            </div>
            <div class="list d-flex ms-3 align-items-center">
                <i class="pi pi-cloud-download text-blue"></i>
                <h6 class="primery mt-1 text-blue ms-1">Export</h6>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-3 col-xl-3 col-md-6 card_pannel">
            <div class="card_wrapper mb-2 p-2">
                <div class="col ">
                    <div class="row">
                        <div class=" col-lg-8 col-xl-8">
                            <h5 class="text-bold">Work Flow : Requires Location</h5>
                        </div>
                        <div class="col-lg-4 col-xl-4 d-flex justify-content-end startt">
                            <!-- <p-tag icon="pi pi-circle-fill" severity="danger" value="Uncomplete"></p-tag> -->
                            <button class="tag-button">
                                <div class="circule"></div>
                                Uncomplete
                            </button>
                        </div>
                    </div>
                    <div>
                        <span class="me-1 from" style="color:#B8B9BC;">From:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1 from" style="color: #B8B9BC;">To:</span>
                        <span style="color: #000; font-size: 16px;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1 from" style="color: #B8B9BC;">Due Date:</span>
                        <span class="text-denger" style="color:orangered ;"> 6 December</span>
                    </div>
                </div>
            </div>
            <div class="card_wrapper mb-2 p-2">
                <div class="col ">
                    <div class="row">
                        <div class=" col-lg-8 col-xl-8 col-xl-8">
                            <h5 class="text-bold">Work Flow : Requires Location</h5>
                        </div>
                        <div class="col-lg-4 col-xl-4 d-flex justify-content-end startt">
                            <button class="risk-button">
                                <div class="circule"></div>
                                Low Risk
                            </button>
                        </div>
                    </div>
                    <div>
                        <span class="me-1 from">From:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1 from">To:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1 from">Due Date:</span>
                        <span class="text-denger" style="color:orangered ;"> 6 December</span>
                    </div>
                </div>
            </div>
            <div class="card_wrapper mb-2 p-2">
                <div class="col ">
                    <div class="row">
                        <div class=" col-lg-8 col-xl-8">
                            <h5 class="text-bold">Work Flow : Requires Location</h5>
                        </div>
                        <div class="col-lg-4 col-xl-4 d-flex justify-content-end startt">
                            <button class="tag-button">
                                <div class="circule"></div>
                                Uncomplete
                            </button>
                        </div>
                    </div>
                    <div>
                        <span class="me-1 from">From:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1 from">To:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1 from">Due Date:</span>
                        <span class="text-denger" style="color:orangered ;"> 6 December</span>
                    </div>
                </div>
            </div>
            <div class="card_wrapper mb-2 p-2">
                <div class="col ">
                    <div class="row">
                        <div class=" col-lg-8 col-xl-8">
                            <h5 class="text-bold">Work Flow : Requires Location</h5>
                        </div>
                        <div class="col-lg-4 col-xl-4 d-flex justify-content-end startt">
                            <button class="review-button">
                                <div class="circule"></div>
                                Need Review
                            </button>
                        </div>
                    </div>
                    <div>
                        <span class="me-1 from">From:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1 from">To:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1 from">Due Date:</span>
                        <span class="text-denger" style="color:orangered ;"> 6 December</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-9 col-xl-9 col-md-6 map_area">
            <app-map></app-map>
        </div>
    </div>
</div>


<!-- <div class="container-fluid">
    <h2 class="text-black mt-4" style="font-size: 32px;">Submissions</h2>
    <div class="row mt-4">
        <div class="col-lg-9 d-flex justify-content-between ">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" class="search-text" pInputText placeholder="Search" />
            </span>
            <p-dropdown placeholder="Select Form" class="form-drop" optionLabel="name" [showClear]="true"></p-dropdown>
            <p-dropdown placeholder="Select Status" optionLabel="name" [showClear]="true"></p-dropdown>
            <span class="p-input-icon-left">
                <i class="pi pi-calendar"></i>
                <input type="text" pInputText placeholder="24/12/2020" />
            </span>
        </div>
        <div class="col-lg-3 d-flex justify-content-center">
            <div class="list">
                <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"></p-selectButton>
            </div>
            <div class="log d-flex ms-3 align-items-center">
                <i class="pi pi-cloud-download text-blue"></i>
                <h6 class="primery mt-1 text-blue ms-1">Export</h6>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="card mb-2 p-2">
                <div class="col ">
                    <div class="row">
                        <div class=" col-lg-8">
                            <h6 class="text-bold">Work Flow : Requires Location</h6>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-end">
                            <p-tag icon="pi pi-circle-fill" severity="danger" value="Uncomplete"></p-tag>
                        </div>
                    </div>
                    <div>
                        <span class="me-1" style="color: #80808080;">From:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1" style="color: #80808080;">To:</span>
                        <span style="color: #000; font-size: 16px;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1" style="color: #80808080;">Due Date:</span>
                        <span class="text-denger" style="color:orangered ;"> 6 December</span>
                    </div>
                </div>
            </div>
            <div class="card mb-2 p-2">
                <div class="col ">
                    <div class="row">
                        <div class=" col-lg-8">
                            <h6 class="text-bold">Work Flow : Requires Location</h6>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-end">
                            <p-tag icon="pi pi-circle-fill" severity="success" value="Low Risk"></p-tag>
                        </div>
                    </div>
                    <div>
                        <span class="me-1" style="color: #80808080;">From:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1" style="color: #80808080;">To:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1" style="color: #80808080;">Due Date:</span>
                        <span class="text-denger" style="color:orangered ;"> 6 December</span>
                    </div>
                </div>
            </div>
            <div class="card mb-2 p-2">
                <div class="col ">
                    <div class="row">
                        <div class=" col-lg-8">
                            <h6 class="text-bold">Work Flow : Requires Location</h6>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-end">
                            <p-tag icon="pi pi-circle-fill" severity="danger" value="Uncomplete"></p-tag>
                        </div>
                    </div>
                    <div>
                        <span class="me-1" style="color: #80808080;">From:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1" style="color: #80808080;">To:</span>
                        <span style="color: #000;">denisgordiyenya@gmail.com</span>
                    </div>
                    <div>
                        <span class="me-1" style="color: #80808080;">Due Date:</span>
                        <span class="text-denger" style="color:orangered ;"> 6 December</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-8">
            <app-map></app-map>
        </div>
    </div>
</div> -->